{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% if app.request.get('_route') == 'fos_user_security_login' %}	

	{% set FOSerror = error %}	

{% elseif app.request.get('_route') == 'hwi_oauth_connect' %}

	{% set HWIerror = error %}			
	{% set csrf_token = null %}		
	{% set last_username = null %}			

{% else %}	

	{% set FOSerror = null %}
	{% set HWIerror = null %}	
	{% set csrf_token = null %}		
	{% set last_username = null %}			

{% endif %}	

{% block fos_user_content %}

	{% if FOSerror is defined and FOSerror %}
	    <div>{{ FOSerror.messageKey|trans(FOSerror.messageData, 'security') }}</div>
	{% endif %}

	<form action="{{ path("fos_user_security_check") }}" method="post">
	    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

	    <label for="username">{{ 'security.login.username'|trans }}</label>
	    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

	    <label for="password">{{ 'security.login.password'|trans }}</label>
	    <input type="password" id="password" name="_password" required="required" />

	    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
	    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

	    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
	</form>

	<a href="{{ path('fos_user_resetting_request') }}">MOT DE PASSE OUBLIE ?</a>

	{% block hwi_oauth_content %}
			
		{% include 'HWIOAuthBundle:Connect:login_content.html.twig' %}

	{% endblock hwi_oauth_content %}


{% endblock fos_user_content %}
