{% extends "FBNGuideBundle::layout.html.twig" %}

{% block title %}
  {{ 'fbn.guide.page_title.bookmarks'|trans }}
{% endblock %}

{% block body %}

<div id="bookmarks" data-bookmark-ids="{{bookmarkIds|json_encode()}}">

<h1>MES FAVORIS</h1>

{% set dataBookmarkMessage = 'VOUS N\'AVEZ AUCUN FAVORIS' %} 

{% if (bookmarkIds|length == 0) %}
  {% set bookmarkMessage = dataBookmarkMessage %}    
{% else %}
  {% set bookmarkMessage = '' %}
{% endif %}

  <p id="bookmark-message" data-bookmark-message="{{dataBookmarkMessage}}">{{bookmarkMessage}}</p>

{% include 'FBNGuideBundle:Guide:bookmarks-links.html.twig' %}  

</div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}  
  <script type="application/javascript" src="{{ asset('js/fbn-guide-bookmarks-remove-only.js') }}"></script>
{% endblock %}
