{% set bookmarkAdd = 'AJOUTER AUX FAVORIS' %}
{% set bookmarkRemove = 'RETIRER DES FAVORIS' %}  

{% if bookmarkAction == 'add' %}
  {% set  text = bookmarkAdd %}    
{% else %}
  {% set  text = bookmarkRemove %}
{% endif %}

<button id="bookmark" data-bookmark-entity="{{entity}}" data-bookmark-entity-id="{{entityId}}" data-bookmark-action="{{bookmarkAction}}" data-bookmark-id="{{bookmarkId}}" data-bookmark-add="{{bookmarkAdd}}" data-bookmark-remove="{{bookmarkRemove}}">
  {{ text }}
</button>