{# src/FBN/GuideBundle/Resources/views/event.html.twig #}

{% extends "FBNGuideBundle::layout.html.twig" %}

{% block title %}
	{{ event.name }}
{% endblock %}

{% block body %}


<h1>{{ event.name }}</h1>

<h3>TYPE : </h3>
  <p>{{ event.eventType.type }}</p> 


{% if event.image is not null %}
  <img 
    src="{{ asset(event.image.webPath) }}"
    alt="{{ event.name }}"
  />
{% endif %}  

<p>{{ event.description }}</p> 

  <h3>PAR ICI : </h3>

  <p>   
    {% if lieuevt.coordinates.coordinatesFR.miscellaneous is not null %}
      {{ lieuevt.coordinates.coordinatesFR.miscellaneous }}
    {% endif %}  
    <br />
    {% if lieuevt.coordinates.coordinatesFR.laneName is not null %}
      {% if lieuevt.coordinates.coordinatesFR.laneNum is not null %}
        {% set separateur = ', ' %}  
      {% else %}
        {% set separateur = '' %}  
      {% endif %}         
      {{ 
      lieuevt.coordinates.coordinatesFR.laneNum ~ separateur ~
      lieuevt.coordinates.coordinatesFR.coordinatesFRLane.lane ~ ' ' ~
      lieuevt.coordinates.coordinatesFR.laneName
      }}
    {% endif %}
    <br />
    {% if lieuevt.coordinates.coordinatesFR.locality is not null %}
      {{ lieuevt.coordinates.coordinatesFR.locality }}
    {% endif %}  
    <br />
    {{ lieuevt.coordinates.coordinatesFR.postcode ~ ' ' ~ lieuevt.coordinates.city }}
  </p>

  {% if event.useexttel %}
    {% if lieuevt.tel is not null %}
      <h3>ALLO : </h3>  
      <p>{{ lieuevt.tel }}</p>  
    {% endif %} 
  {% else %}
    {% if event.tel is not null %}
      <h3>ALLO : </h3>  
      <p>{{ event.tel }}</p>  
    {% endif %} 
  {% endif %} 
 

  {% if lieuevt.coordinates.metro is not null %}
    <h3>METRO : </h3>  
    <p>{{ lieuevt.coordinates.metro }}</p> 
  {% endif %}  

  {% if event.useextsite %}
    {% if lieuevt.site is not null %}
      <h3>SITE : </h3>
      <a href="{{ lieuevt.href }}">{{ lieuevt.site }}</a> 
    {% endif %} 
  {% else %}
    {% if event.site is not null %}
      <h3>SITE : </h3>
      <a href="{{ event.href }}">{{ event.site }}</a> 
    {% endif %} 
  {% endif %} 

{{ google_map(map) }}



{% endblock %}