{# src/FBN/GuideBundle/Resources/views/evenement.html.twig #}

{% extends "FBNGuideBundle::layout.html.twig" %}

{% block title %}
	{{ evenement.name }}
{% endblock %}

{% block body %}


<h1>{{ evenement.name }}</h1>

<h3>TYPE : </h3>
  <p>{{ evenement.evenementType.type }}</p> 


{% if evenement.image is not null %}
  <img 
    src="{{ asset(evenement.image.webPath) }}"
    alt="{{ evenement.name }}"
  />
{% endif %}  

<p>{{ evenement.description }}</p> 

  <h3>PAR ICI : </h3>

  <p>   
    {% if lieuevt.coordonnees.coordonneesFR.miscellaneous is not null %}
      {{ lieuevt.coordonnees.coordonneesFR.miscellaneous }}
    {% endif %}  
    <br />
    {% if lieuevt.coordonnees.coordonneesFR.laneName is not null %}
      {% if lieuevt.coordonnees.coordonneesFR.laneNum is not null %}
        {% set separateur = ', ' %}  
      {% else %}
        {% set separateur = '' %}  
      {% endif %}         
      {{ 
      lieuevt.coordonnees.coordonneesFR.laneNum ~ separateur ~
      lieuevt.coordonnees.coordonneesFR.coordonneesFRVoie.voie ~ ' ' ~
      lieuevt.coordonnees.coordonneesFR.laneName
      }}
    {% endif %}
    <br />
    {% if lieuevt.coordonnees.coordonneesFR.locality is not null %}
      {{ lieuevt.coordonnees.coordonneesFR.locality }}
    {% endif %}  
    <br />
    {{ lieuevt.coordonnees.coordonneesFR.codePostal ~ ' ' ~ lieuevt.coordonnees.city }}
  </p>

  {% if evenement.useexttel %}
    {% if lieuevt.tel is not null %}
      <h3>ALLO : </h3>  
      <p>{{ lieuevt.tel }}</p>  
    {% endif %} 
  {% else %}
    {% if evenement.tel is not null %}
      <h3>ALLO : </h3>  
      <p>{{ evenement.tel }}</p>  
    {% endif %} 
  {% endif %} 
 

  {% if lieuevt.coordonnees.metro is not null %}
    <h3>METRO : </h3>  
    <p>{{ lieuevt.coordonnees.metro }}</p> 
  {% endif %}  

  {% if evenement.useextsite %}
    {% if lieuevt.site is not null %}
      <h3>SITE : </h3>
      <a href="{{ lieuevt.href }}">{{ lieuevt.site }}</a> 
    {% endif %} 
  {% else %}
    {% if evenement.site is not null %}
      <h3>SITE : </h3>
      <a href="{{ evenement.href }}">{{ evenement.site }}</a> 
    {% endif %} 
  {% endif %} 

{{ google_map(map) }}



{% endblock %}