{% extends "FBNGuideBundle::layout.html.twig" %}

{% block body %}
<ul>
  {% for article in lastArticles %}
    {% if entitiesArticles[article.class] == 'infos' %}
      <a href="{{ path('fbn_guide_articles', {'articles': entitiesArticles[article.class]} ) }}#{{ article.slug }}">{{ article.name }}</a>
    {% else %}
      <a href="{{ path('fbn_guide_' ~ entitiesArticles[article.class], {'slug': article.slug} ) }}">{{ article.name }}</a>
    {% endif %} 
  <br />
    {% if (article.image is defined) and (article.image is not null) %}
      <img 
        src="{{ vich_uploader_asset(article.image, 'file') | imagine_filter('thumb_outbound') }}"
        alt="{{ article.name }}"
      />
    {% endif %}    
    <hr />    
  {% else %}
    <p>PAS D'ARTICLES</p>
  {% endfor %}
</ul> 
{% endblock %}
