{% extends "FBNGuideBundle::layout.html.twig" %}

{% block title %}
	{{ 'fbn.guide.page_title.infos'|trans }}
{% endblock %}

{% block body %}

	<p> {{ 'fbn.guide.page_intro.infos'|trans }}</p>

	<ul>
	  	{% for article in articlesList %}    
		  	<p>{{ article.datepublication|date('Y-m-d') }}</p>
		  	<h1 id="{{ article.slug }}">{{ article.name }}</h1>
			<br />

		  	<p>{{ article.description|raw }}</p>

		  	<h4>DE : </h4>
				{{ article.articleAuthor }}

		    <hr />    
		{% else %}
		    <p>PAS D'ARTICLES</p>
	  	{% endfor %}
	</ul>

{% endblock %}
