<ul>
  {% for article in articles %}    
  <p>{{ article.datepublication|date('Y-m-d') }}</p>
  <h1 id="{{ article.slug }}">{{ article.name }}</h1>
	<br />

  <p>{{ article.description|raw }}</p> 
    <hr />    
  {% else %}
    <p>Pas de {{ menu.section | lower }}</p>
  {% endfor %}
</ul>
