<ul>
  {% for article in articles %}    
  <a href="{{ path('fbn_guide_' ~ menu.section | lower ~ 's', {'slug': article.slug} ) }}">{{ article.name }}</a>
	<br />
    {% if (article.image is defined) and (article.image is not null) %}
      <img 
        src="{{ vich_uploader_asset(article.image, 'file') | imagine_filter('thumb_outbound') }}"
        alt="{{ article.name }}"
      />
    {% endif %}    
    <hr />    
  {% else %}
    <p>Pas de {{ menu.section | lower ~ 's' }}</p>
  {% endfor %}
</ul>