{# src/FBN/GuideBundle/Resources/views/restaurant.html.twig #}

{% extends "FBNGuideBundle::layout.html.twig" %}


{% block title %}
	{{ restaurant.name }}
{% endblock %}

{% block body %}

{% set  entityId = restaurant.id %} 
{% include 'FBNGuideBundle:Guide:entity-bookmark-manage.html.twig' %}

<h1>{{ restaurant.name }}</h1>

  {% if restaurant.shop is not null %}
    <p>[<a href="{{ path('fbn_guide_shops', {'slug': restaurant.shop.slug} ) }}">LA CAVE DU RESTO</a>]</p>
  {% endif %}  

<h3>STYLE : </h3>
  <p>
  {% for styles in restaurant.restaurantStyle %}
    {{ styles.style }}
  {% endfor %}
  </p>

<h3>BONUS : </h3>
  <p>
  {% for bonuss in restaurant.restaurantBonus %}
    {{ bonuss.bonus }}
  {% endfor %}
  </p>  

<h3>COMBIEN : </h3>
  <p>{{ restaurant.restaurantPrice.price }}</p> 

  <h3>HORAIRES : </h3>

  <p>{{ restaurant.openingHours }}</p> 

  {% if restaurant.image is not null %}
    <img 
      {#src="{{ asset(restaurant.image.webPath) }}"#}
      src="{{ vich_uploader_asset(restaurant.image, 'file') }}"
      alt="{{ restaurant.name }}"
    />
  {% endif %}    

  <p>{{ restaurant.description }}</p>  

  <h3>PAR ICI : </h3>

  <p>     
    {% if restaurant.coordinates.coordinatesFR.miscellaneous is not null %}
      {{ restaurant.coordinates.coordinatesFR.miscellaneous }}
    {% endif %}  
    <br />  
    {% if restaurant.coordinates.coordinatesFR.laneName is not null %}
      {% if restaurant.coordinates.coordinatesFR.laneNum is not null %}
        {% set separateur = ', ' %}  
      {% else %}
        {% set separateur = '' %}  
      {% endif %}      
      {{ 
      restaurant.coordinates.coordinatesFR.laneNum ~ separateur ~
      restaurant.coordinates.coordinatesFR.coordinatesFRLane.lane ~ ' ' ~
      restaurant.coordinates.coordinatesFR.laneName
      }}
    {% endif %}
    <br />
    {% if restaurant.coordinates.coordinatesFR.locality is not null %}
      {{ restaurant.coordinates.coordinatesFR.locality }}
    {% endif %}  
    <br />
    {{ restaurant.coordinates.coordinatesFR.postcode ~ ' ' ~ restaurant.coordinates.city }}
  </p>

  {% if restaurant.tel is not null %}
    <h3>ALLO : </h3>  
    <p>{{ restaurant.tel }}</p>  
  {% endif %}  

  {% if restaurant.coordinates.metro is not null %}
    <h3>METRO : </h3>  
    <p>{{ restaurant.coordinates.metro }}</p> 
  {% endif %}  

  {% if restaurant.site is not null %}
    <h3>SITE : </h3>
    <a href="{{ restaurant.href }}">{{ restaurant.site }}</a> 
  {% endif %}  

  {{ google_map(map) }}



{% endblock %}

{% block javascripts %}
  {{ parent() }}  

  <script type="application/javascript" src="{{ asset('js/fbn-guide-bookmark-manage.js') }}"></script>
{% endblock %}