<ul>
  {% for article in articles %}    
  <a href="{{ path('fbn_guide_' ~ menu.entite | lower ~ 's', {'slug': article.slug} ) }}">{{ article.nom }}</a>
	<br />
    {% if article.image is not null %}
      <img 
        src="{{ asset( article.image.webPath | imagine_filter('thumb_outbound') ) }}"
        alt="{{ article.nom }}"
      />
    {% endif %}    
    <hr />    
  {% else %}
    <p>Pas de {{ menu.entite | lower ~ 's' }}</p>
  {% endfor %}
</ul>