{# src/FBN/GuideBundle/Resources/views/winemaker.html.twig #}

{% extends "FBNGuideBundle::layout.html.twig" %}

{% block title %}
	{{ tutoriel.name }}
{% endblock %}

{% block body %}


<h1>{{ tutoriel.name  }}</h1>

{% if tutoriel.image is not null %}
  <img 
    src="{{ asset(tutoriel.image.webPath) }}"
    alt="{{ tutoriel.name }}"
  />
{% endif %}    

<p>{{ tutoriel.description }}</p>  

{% for tc in tutoriel.tutorielChapitre %}
  
  <h3>{{ tc.titre }}</h3>

  {% for tcp in tc.tutorielChapitrePara %}

    <p>{{ tcp.paragraph }}</p>

	{% if tcp.image is not null %}
	  <img 
	    src="{{ asset(tcp.image.webPath) }}"
	    alt="{{ tcp.image.legend }}"
	  />   
	{% endif %}  	 

  {% endfor %}

{% endfor %}


{% endblock %}