{% extends "FBNGuideBundle::layout.html.twig" %}

{% block title %}
	{{ tutorial.name }}
{% endblock %}

{% block body %}


<h1>{{ tutorial.name  }}</h1>

{% if tutorial.image is not null %}
  <img 
    src="{{ vich_uploader_asset(tutorial.image, 'file') }}"
    alt="{{ tutorial.name }}"
  />
{% endif %}    

<p>{{ tutorial.description|raw }}</p>

<h4>DE : </h4>
  {{ tutorial.articleAuthor }}

{% for tc in tutorial.tutorialChapter %}
  
  <h3>{{ tc.title }}</h3>

  {% for tcp in tc.tutorialChapterParas %}

    <p>{{ tcp.paragraph|raw }}</p>

	{% if tcp.image is not null %}
	  <img 
      src="{{ vich_uploader_asset(tcp.image, 'file') }}"
	    alt="{{ tcp.image.legend }}"
	  />   
	{% endif %}  	 

  {% endfor %}

{% endfor %}


{% endblock %}