{# src/FBN/GuideBundle/Resources/views/vigneron.html.twig #}

{% extends "FBNGuideBundle::layout.html.twig" %}

{% block title %}
	{{ vigneron.name }}
{% endblock %}

{% block body %}

{% set  entiteId = vigneron.id %} 
{% include 'FBNGuideBundle:Guide:entite-bookmark-manage.html.twig' %}

<h1>{{ vigneron.name }}</h1>

{% if vigneron.image is not null %}
  <img 
    src="{{ asset(vigneron.image.webPath) }}"
    alt="{{ vigneron.name }}"
  />
{% endif %}    

<p>{{ vigneron.description }}</p>  


{% for vd in vigneron.winemakerDomain %} 
<h3>PAR ICI : </h3>
  <p>  
    {% if vd.domain is not null %} 
      {{ vd.domain }}
    {% endif %}
    {% if vd.coordonnees.coordonneesFR.miscellaneous is not null %}
      {{ vd.coordonnees.coordonneesFR.miscellaneous }}
    {% endif %}  
    <br />          
    {% if vd.coordonnees.coordonneesFR.laneName is not null %}
      {{ 
      vd.coordonnees.coordonneesFR.laneNum ~ ', ' ~
      vd.coordonnees.coordonneesFR.coordonneesFRVoie.lane ~ ' ' ~
      vd.coordonnees.coordonneesFR.laneName
      }}
    {% endif %}
    <br />
    {% if vd.coordonnees.coordonneesFR.locality is not null %}
      {{ vd.coordonnees.coordonneesFR.locality }}
    {% endif %}  
    <br />
    {{ vd.coordonnees.coordonneesFR.postcode ~ ' ' ~ vd.coordonnees.city }}
  </p>

  {% if vd.tel is not null %}
    <h3>ALLO : </h3>  
    <p>{{ vd.tel }}</p>  
  {% endif %}  

  <h3>HORAIRES : </h3>

  <p>{{ vd.openingHours }}</p>

    {% if vd.coordonnees.metro is not null %}
      <h3>METRO : </h3>  
      <p>{{ vd.coordonnees.metro }}</p> 
    {% endif %}  

  {% if vd.site is not null %}
    <h3>SITE : </h3>
    <a href="{{ vd.href }}">{{ vd.site }}</a> 
  {% endif %}

{% endfor %}

  {{ google_map(map) }}


{% endblock %}

{% block javascripts %}
  {{ parent() }}  

  <script type="application/javascript" src="{{ asset('js/fbn-guide-bookmark-manage.js') }}"></script>
{% endblock %}